* {
    box-sizing: border-box;
    margin: auto;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: pink;
    border: 2px solid white;
    width: 40%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Rock 3D', cursive;
}

h2 {
    background-color: pink;
    border: 2px solid white;
    width: 170px;
    margin: 10px auto;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Rock 3D', cursive;
}

h3 {
    background-color: pink;
    border: 2px solid white;
    width: 140px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Rock 3D', cursive;
    margin-top: 30px;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    margin-top: 30px;
    margin-left: 320px;
    margin-right: 320px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border-style: dashed;
    list-style-type: none;
}

ol {
    margin-bottom: 20px;
    padding: 0;
    padding-top: 30px;
    text-align: center;
}